VITE_REACT_SCAN=true

VITE_WORKSPACE_NAME=workspace_domain
VITE_ENVIRONMENT=.cogover.net

VITE_API_BASE_URL="https://${VITE_WORKSPACE_NAME}${VITE_ENVIRONMENT}"
VITE_ACCOUNT_API_URL="https://api-account${VITE_ENVIRONMENT}"
VITE_SUBSCRIPTION_API_URL="https://subscription${VITE_ENVIRONMENT}"
VITE_PAYPAL_CLIENT_ID="AXXWp_AmJQZrZf5mef11HFvhVwd6pMwdHFnAxRiaL80J0r3e46ooSMc6VcnbwgV5etd8Z4h2kBsotvKG"
VITE_STRIPE_PUBLIC_KEY="pk_test_51M4cIAJOhUAIhlRl23RA5StQoumcoMUdxohh81ylq38n57ipMNdHEU4G7kNgI0J2jqmrPVZzmsKEUcqlEyNNXneM00vDpepOKr"

VITE_SITE_DOMAIN="${VITE_ENVIRONMENT}"
VITE_ACCOUNT_APP_ORIGIN="https://account${VITE_ENVIRONMENT}"
VITE_ID_APP_ORIGIN="https://id${VITE_ENVIRONMENT}"
VITE_LOCAL_HOST="${VITE_WORKSPACE_NAME}.cogover.local"
VITE_END_USER_ORIGIN="https://${VITE_WORKSPACE_NAME}${VITE_ENVIRONMENT}"
VITE_SUBSCRIPTION_ORIGIN="https://${VITE_WORKSPACE_NAME}.cogover.local:4173"
VITE_REMOTE_URL="https://${VITE_WORKSPACE_NAME}.cogover.local:4173"
