@awesome.me:registry=https://npm.fontawesome.com/
@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=1ED04B9B-BC81-4FE9-B0D7-4D2CE9B5C299

npmScopes:
awesome.me:
  npmAlwaysAuth: true
  npmRegistryServer: "https://npm.fontawesome.com/"
  npmAuthToken: "1ED04B9B-BC81-4FE9-B0D7-4D2CE9B5C299"
fortawesome:
  npmAlwaysAuth: true
  npmRegistryServer: "https://npm.fontawesome.com/"
  npmAuthToken: "1ED04B9B-BC81-4FE9-B0D7-4D2CE9B5C299"


