.main-page {
    background-color: var(--background-default);
    color: var(--typography-primary);
    padding-left: var(--left-toolbar-width);
    padding-top: var(--top-toolbar-width);
    width: 100%;
    font-size: 0.875rem;
    .main-page-content {
        min-height: calc(100vh - 56px);
    }
}

.header {
    position: fixed;
    top: 0;
    z-index: 20;
    width: calc(100% - var(--left-toolbar-width));
}
