.left-toolbar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: var(--left-toolbar-width);
    height: 100vh;
    padding: 15px 9px 20px;
    font-size: 0.875rem;
    .content {
        display: inline-flex;
        flex-direction: column;
        width: 100%;
        .logo {
            height: 30px;
            margin-bottom: 34px;
            display: flex;
            cursor: pointer;
            .left {
                text-align: center;
                width: 42px;
                display: flex;
                justify-content: center;
                img {
                    width: 24px;
                }
            }
            .text {
                align-items: center;
                font-size: 20px;
                font-style: normal;
                font-weight: 700;
            }
        }
        .menu-item {
            height: 40px;
            margin-bottom: 16px;
            display: flex;
            align-items: center;
            cursor: pointer;
            color: var(--typography-primary);
            .icon {
                font-size: 21px;
                width: 40px;
                display: flex;
                justify-content: center;
            }
            .icon svg {
                width: 19px;
            }
            .text {
                font-weight: 700;
                white-space: nowrap;
                overflow: hidden;
                flex: 1;
            }
        }
    }
}

//khi menu co lai
.left-toolbar.menu-collapse {
    background-color: var(--primary-main);
    border-right: 0;
    color: white;
    .text {
        display: none;
    }
    .menu-item {
        color: var(--typography-primary);
        width: 40px;
    }
    @media (hover: hover) {
        .menu-item:hover {
            background-color: rgba(255, 255, 255, 0.2);
            border-radius: 4px;
        }
    }
    .menu-item.active {
        color: var(--typography-primary) !important;
        background-color: rgba(255, 255, 255, 0.2);
    }
}

[data-theme='light'] {
    .left-toolbar.menu-collapse {
        .menu-item {
            color: var(--background-default);
        }
        .menu-item.active {
            color: var(--background-default) !important;
            background-color: rgba(255, 255, 255, 0.2);
        }
    }
}

//khi menu mo ra
.left-toolbar.menu-expand {
    background-color: var(--background-default);
    color: var(--typography-primary);
    border-right: 1px solid var(--divider-primary);
    overflow-x: hidden;
    .content {
        min-width: 180px;
    }
    @media (hover: hover) {
        .menu-item:hover {
            border-radius: 4px;
            background-color: var(--primary-main-light-90);
            // color: var(--menu-hover-text-color);
        }
    }
}

.menu-item.active {
    border-radius: 4px;
    background-color: var(--primary-main-light-90);
    color: var(--menu-hover-text-color) !important;
}
